<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.local" value="./lib/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>

  <packageSourceMapping>
    <!--All local content (IDs starting with NSwag.) goes to the local feed--> 
    <packageSource key="nuget.local">
      <package pattern="NSwag.*" />
    </packageSource> 

    <!-- The rest of the packages (OSS, third-party) come from nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
