openapi: 3.0.3

info:
  title: AppsFlyer OneLink API v2
  version: 2.0.0
  description: |
    OpenAPI definition for AppsFlyer OneLink REST API v2.

servers:
  - url: https://onelink.appsflyer.com

security:
  - bearerAuth: []

tags:
  - name: OneLink
  - name: Quota

paths:

  /api/v2.0/shortlinks/{onelink-id}:
    post:
      tags:
        - OneLink
      summary: Create OneLink link
      operationId: createOneLink
      parameters:
        - name: onelink-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkRequest'
      responses:
        '200':
          description: Link created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortLinkResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: OneLink template not found
        '409':
          description: Shortlink ID already exists
        '429':
          description: Quota or rate limit exceeded

  /api/v2.0/shortlinks/{onelink-id}/{shortlink-id}:

    get:
      tags:
        - OneLink
      summary: Get OneLink link data
      operationId: getOneLink
      parameters:
        - $ref: '#/components/parameters/OneLinkId'
        - $ref: '#/components/parameters/ShortLinkId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLinkResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Link not found

    put:
      tags:
        - OneLink
      summary: Update OneLink link
      operationId: updateOneLink
      parameters:
        - $ref: '#/components/parameters/OneLinkId'
        - $ref: '#/components/parameters/ShortLinkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkRequest'
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortLinkResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Link not found
        '429':
          description: Quota or rate limit exceeded

    delete:
      tags:
        - OneLink
      summary: Delete OneLink link
      operationId: deleteOneLink
      parameters:
        - $ref: '#/components/parameters/OneLinkId'
        - $ref: '#/components/parameters/ShortLinkId'
      responses:
        '200':
          description: Deleted successfully
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Link not found
        '429':
          description: Quota or rate limit exceeded

  /api/v2.0/shortlinks/{onelink-id}/{shortlink-id}/qr:
    get:
      tags:
        - OneLink
      summary: Get OneLink QR code
      operationId: getQrCode
      parameters:
        - $ref: '#/components/parameters/OneLinkId'
        - $ref: '#/components/parameters/ShortLinkId'
      responses:
        '200':
          description: QR Code image
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Link not found

  /api/v2.0/shortlinks-quota/{account-id}:
    get:
      tags:
        - Quota
      summary: Get account quota
      operationId: getQuota
      parameters:
        - name: account-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Quota information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaResponse'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: AppsFlyerToken

  parameters:

    OneLinkId:
      name: onelink-id
      in: path
      required: true
      schema:
        type: string

    ShortLinkId:
      name: shortlink-id
      in: path
      required: true
      schema:
        type: string

  schemas:

    CreateLinkRequest:
      type: object
      required:
        - data
      properties:
        shortlink_id:
          type: string
          description: Custom shortlink id
        ttl:
          type: string
          example: 30d
        brand_domain:
          type: string
        data:
          type: object
          additionalProperties: true
          example:
            pid: email
            c: welcome-campaign
            af_dp: myapp://home

    UpdateLinkRequest:
      type: object
      required:
        - data
      properties:
        ttl:
          type: string
          example: 90d
        brand_domain:
          type: string
        data:
          type: object
          additionalProperties: true

    ShortLinkResponse:
      type: object
      properties:
        shortlink_url:
          type: string
          example: https://myapp.onelink.me/abc123/qwer987

    GetLinkResponse:
      type: object
      properties:
        shortlink_id:
          type: string
        shortlink_url:
          type: string
        ttl:
          type: string
        expires_at:
          type: string
          format: date-time
        data:
          type: object
          additionalProperties: true

    QuotaResponse:
      type: object
      properties:
        total_quota:
          type: integer
        used_quota:
          type: integer
        remaining_quota:
          type: integer